values:
  deploymentName: my-app-deployment-1
  serviceName: my-app-service-2
  replicas: 3
  image:
    repository: docker.io/nginx
    tag: latest
    digest: ""
    pullPolicy: IfNotPresent
  service:
    port: 80
  env:
    MY_ENV_VAR: my-value
    ANOTHER_VAR: another-value
  hpa:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 80
  virtualService:
    enabled: true
    hosts:
      - "test-app.example.com"
    gateways:
      - "istio-system/default-gateway"